/* CSS file for : about.html */
body{
    background-color: #FFD1D1;
    font-family: 'Blinker', sans-serif;
    margin: 0;
    animation: fade ease-in-out 3s;
}

.nav_container{
    display: flex;
    background-color: #FFD1D1;
    box-shadow: 0px 1px 10px 5px #FF9494;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    animation: slideY ease-in-out 2s;
}

.nav{
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    padding: 5vh 5vh;
    transition: all ease 1s;
}

.nav:hover{
    transform: scale(1.1);
}

.logo{
    background-color:whitesmoke;
    color: #FF9494;
    border-radius: 0 50px 50px 0;
}

.info_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10vh auto;
    padding: 20px;
    width: 60vw;
    overflow: hidden;
    background-color: whitesmoke;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 3px solid black;
}



.info_container h1{
    margin: 20px;
    text-align: center;
    padding: 10px;
    border-left: 5px black solid;
    background-color: rgba(0, 0, 0, 0.2);
}

.profile_image{
    border-radius: 20px;
    padding: 5px;
    width: 20%;
    height: 20%;
    border: 3px solid black;

}

.contact_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.contact_list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 30px;
    padding: 10px;
    padding-left: 70px;
    text-decoration: none;
    color: #000;
    border-radius: 20px;
    transition: all ease 0.5s;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 10px;
}

.contact_list:hover{
    color: white;
    background-color: black ; 
   
}

.self_learning{
    padding-left: 10px;
    border: 2px solid black;
}

.git{
    background-image: url(../image/git.png);
}
.git:hover{
    background-image: url(../image/git_hover.png);
}
.fb{
    background-image: url(../image/face_icon.webp);
}
.fb:hover{
    background-image: url(../image/face_icon_hover.png);
}
.ig{
    background-image: url(../image/ig_icon.png);
}
.ig:hover{
    background-image: url(../image/ig_icon_hover.png);
}

@media (max-width:425px) {
    .profile_image{  
        width: 40%;
        height: 40%;
    }
    
}

@media  screen and (max-width:375px) {
    .info_container h1{
        margin: 20px 0;
        align-self: flex-start;
    }
    .contact_container{
        justify-content: start;
    }

  
    
    .contact_list{
        align-items: flex-start;
        margin: 10px 0;
    }
    
    
}

